$maxTabletLandscape: ' screen and (max-width: 1100px)';
$maxTablet: ' screen and (max-width: 768px)';
$minTablet: ' screen and (min-width: 800px)';
$details-breakpoint: ' screen and (max-width: 845px)';
$maxMobile: ' screen and (max-width: 600px)';
